body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    margin: 10px;


}
 
#ver, #ocultar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
}

h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin: auto
}
h2{
    display: flex;
    justify-content: center;
    margin: auto
}

/*.presentacion{
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    border: solid
    
}*/

.informacion{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    
}

.datos{
    grid-column: 1/3;

    text-align: center;
}



/*.containerstart{
    
    display: grid;
    grid-template-rows: 1fr;
    border: solid;

}*/

.imagen{
    padding: 5px;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid;*/
}    

.nombre{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: repeat(3, auto);
    /*border: solid;*/
}



.container, .cursos{
    width: auto;
    background-color: #f1f1f1;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5);
}

.laboral{
    padding: 5px;
}

.formacion{
    border: solid 2px grey;
    padding: 5px;
    display: flex;
    justify-content: left;
}

.experiencia, .capacitacion{
    /*border: solid;*/
    padding: 5px;
}
.arriba{
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    background: rgb(157, 236, 217);
    cursor: pointer
}
